.context .context-center .resume {
    width: 820px;
    padding: 50px;
    border: 1px solid gray;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.7);
    min-height: 1150px;
}

.context .context-center .resume span:focus {
    outline:none;
    border: 2px solid #1890ff;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.resume span {
    font-size: 14px;
    font-weight: 500;
}

.resume span:hover {
    border: 2px dashed rgba(33, 219, 33, 0.74);
}
