.imgLoop {
    position: relative;
    width: 900px;
    height: 400px;
    margin: 10px auto;
    overflow:hidden;
}

.imgLoop .imgContainer {
    width: 10000px;
}

.imgLoop .imgOptions {
    position: absolute;
    top: 350px;
    left: 310px;
    list-style: none;
    z-index: 2;
}

.imgLoop .imgOptions li {
    margin: 10px;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgba(201, 201, 201, 0.774);
}

.imgLoop .imgOptions li:hover{ 
    background-color: rgb(219, 219, 219);
}

.imgLoop .imgContainer img {
    width: 900px;
    height: 400px;
    border-radius: 10px;
    float: left;
}