.context .context-center .resume {
    width: 750px;
    padding: 40px;
    border: 1px solid gray;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.7);
    height: 1100px;
    margin-left: 35px;
}

.context .context-center .resume span:focus {
    outline:none;
    border: 2px solid #1890ff;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.resume span {
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 0;
    border: 2px solid #ffffff00;
}

.resume span:hover {
    border: 2px dashed rgba(33, 219, 33, 0.74);
}


.controlResume {
    position: absolute;
    top: 10px;
    right:10px;
    box-shadow: 0px 0px 4px gray;
    width: 200px;
    min-height: 600px;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.controlResume .exportResume {
    border: 0;
    background-color: #1890ff;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-radius: 15px;
    color: rgb(223, 223, 223);
    font-size: 18px;
    box-shadow: 2px 2px 3px gray;
}

.controlResume .exportResume:hover {
    cursor: pointer;
}

.controlResume .exportResume:active {
    box-shadow: 1px 1px 2px gray;
}