
.personalMsg {
    overflow: hidden;
    padding: 2px;
}

.personName {
    display: inline-block;
    font-size: 1.6em !important;
    margin-bottom: 8px;
    font-weight: 600;
}

.myPhoto {
    float: right;
    margin-right: 10px;
    width: 115px;
    height: 140px;
    background-color: skyblue;
}

.myPhoto img {
    width: 115px;
    height: 140px;
}

.personDetails {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid lightgray !important;
    margin-top: 5px;
}
