.active {
    animation: navFocus 0.3s ;
    animation-fill-mode: forwards ;
}

.btBlur {
    animation: btBlur 0.5s;
    animation-fill-mode: forwards;
}

.hidden {
    display: none;
}

@keyframes btFocus {
    from {background-color: rgb(52, 182, 233);}
    to {background-color: #1890ff;}
}

@keyframes btBlur {
    from {background-color: #1890ff;}
    to {background-color: rgb(52, 182, 233);}
}

@keyframes navFocus {
    form {background-color: #ffffff00;}
    to {background-color: #1890ff;}
}

@keyframes changePicMirror {
    0% {background: linear-gradient(rgba(184, 184, 184, 0.2),rgba(255, 255, 255, 0.2) 65%, rgba(184, 184, 184, 0.2));}
    25% {background: linear-gradient(rgba(184, 184, 184, 0.15),rgba(255, 255, 255, 0.55) 65%, rgba(184, 184, 184, 0.15));}
    50% {background: linear-gradient(rgba(184, 184, 184, 0.1),rgba(255, 255, 255, 0.50) 65%, rgba(184, 184, 184, 0.1));}
    75% {background: linear-gradient(rgba(184, 184, 184, 0.05),rgba(255, 255, 255, 0.25) 65%, rgba(184, 184, 184, 0.05));}
    100% {background: linear-gradient(rgba(184, 184, 184, 0),rgba(255, 255, 255, 0) 65%, rgba(184, 184, 184, 0));}
}

@keyFrames openPage {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@keyframes showSignOut {
    0% {background-color: rgb(170, 170, 170, 0); color: #ffffff00;}
    25% {background-color: rgb(170, 170, 170, 0.5); color: #ffffff86;}
    50% {background-color: rgb(170, 170, 170, 1); color: #ffffff;}
    75% {background-color: rgb(170, 170, 170, 0.5); color: #ffffff86;}
    100% {background-color: rgb(170, 170, 170, 0); color: #ffffff00;}
}

@keyframes showPersonal {
    from {transform: scale(0); top:0;}
    to {transform: scale(1); top: 50px;}
}

@keyframes hiddenPersonal {
    from {transform: scale(1); top: 50px;}
    to {transform: scale(0); top:0;}
}

.showPersonal {
    animation: showPersonal 0.3s;
    animation-fill-mode: forwards;
}

.hiddenPersonal {
    /* transform: scale(0);
    top:0; */
    
    animation: hiddenPersonal 0.2s;
    animation-fill-mode: forwards;
}

.beforeExport {
    width: 730px !important;
    height: 1040px !important;
    position: fixed !important;
    margin: 0 !important;
    left: -10px;
    top: 0 !important;
    z-index: 999 !important;
    background-color: #fff;
}