.active {
    animation: navFocus 0.3s ;
    animation-fill-mode: forwards ;
}

.btBlur {
    animation: btBlur 0.3s;
    animation-fill-mode: forwards;
}

@keyframes btFocus {
    from {background-color: rgb(52, 182, 233);}
    to {background-color: #1890ff;}
}

@keyframes btBlur {
    from {background-color: #1890ff;}
    to {background-color: rgb(52, 182, 233);}
}

@keyframes navFocus {
    form {background-color: #ffffff00;}
    to {background-color: #1890ff;}
}