.msgTitle {
    width:100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 2px solid #2081CE;
    height: auto;
    position: relative;
}

.msgTitle-option {
    position: absolute;
    top: 25px;
    right: 0;
}

.msgTitle-option .optionAdd {
    border: 0;
    background-color: rgb(142, 209, 41);
    color: #fff;
}

.msgTitle-option .optionAdd:hover {
    cursor: pointer;
    background-color: rgb(156, 230, 45);
}

 .msgTitle-option .optionDel {
    border: 0;
    background-color: rgb(97, 96, 96);
    color: #fff;
}

 .msgTitle-option .optionDel:hover {
    cursor:pointer;
    background-color: rgb(121, 120, 120);
}

.msgTitle span{
    color: #2081CE;
    font-size: 1em !important;
    font-weight: 900 !important;
}

.msgContext {
    width: 100%;
}

.msgContext-title:hover {
    border: 2px dashed #2081CE !important;
}

.msgContext-title {
    position: relative;
}

.msgContext span {
    line-height: 30px!important;
}

.msgContext-title-msgDetail:hover {
    border: 1px dashed #2081CE;
}

.msgContext .msgContext-title {
    display: flex;
    border: 2px dashed #2081CE00;
    justify-content: space-between;
}

.msgContext .msgContext-title span {
    display: inline-block;
    font-weight: 700;
}

.msgContext .msgContext-title span:nth-child(1) {
    justify-self: start;   
}
.msgContext .msgContext-title span:nth-child(2) {
    justify-self: center;   
}
.msgContext .msgContext-title span:nth-child(3) {
    justify-self: end;   
}

.msgContext .msgContext-title-msgDetail {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}

.msgContext-detail {
    display: block;
    width: 100%;
    min-height: 50px;
    border: 2px solid #ffffff00;
}